<a href="comments/<%=id%>">
    <div class="card">
        <div class="card-content">
            <p class="title is-4"><%=username%></p>
            <p class="subtitle is-6"><%=comment%></p>
        </div>
        <div class="card-footer">
            <a class="card-footer-item has-text-warning edit-comment" data-id="<%=id%>" data-content="<%=comment%>">Edit comment</a>
            <form action="/comments/<%=id%>?_method=delete" class="card-footer-item" method="post">
                <button class="has-text-danger">Delete comment</button>
            </form>
        </div>
    </div>
</a>
